<div class="cart-container">
  <h1>Your Cart</h1>

  <% if @cart.cart_items.empty? %>
    <p>Your cart is empty.</p>
  <% else %>
    <% @cart.cart_items.each do |item| %>
      <div class="cart-item">
        <div class="cart-item-info">
          <strong><%= item.book.title %></strong>
          <p><%= number_to_currency(item.book.price) %> x <%= item.quantity %></p>
        </div>
        <div class="cart-item-details">
          <div class="cart-item-actions">
            <%= form_with(model: item, url: cart_item_path(item), method: :patch, class: 'update-quantity-form') do |f| %>
              <%= f.number_field :quantity, min: 1, class: 'quantity-input', value: item.quantity %>
              <%= f.submit "Update", class: 'button' %>
            <% end %>
            <%= button_to "Remove", cart_item_path(item), method: :delete, class: 'button-secondary' %>
          </div>
          <div class="cart-item-total">
            <strong><%= number_to_currency(item.book.price * item.quantity) %></strong>
          </div>
        </div>
      </div>
    <% end %>
    <div class="cart-total">
      Total: <%= number_to_currency(@cart.cart_items.sum { |item| item.book.price * item.quantity }) %>
    </div>
    <div class="checkout-button">
          <%= link_to "Checkout", new_order_path, class: "button" %>
    </div>
  <% end %>
</div>


